<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Patrol</title>
    <link rel="stylesheet" href="/stylesheet/feed.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="/javascripts/feed.js" defer></script>

  </head>
  <body>
        <aside class="carousel">       
              <div class="carousel">
                <div class="carousel-container">
                    <div class="carousel-slide">
                        <img src="/images/slideUmMobile.png" class="slideUmMobile" alt="Imagem 1">
                        <img src="/images/slideUm.png"class="slideUm " alt="Imagem 1">
                    </div>
                    <div class="carousel-slide">
                      <img src="/images/segundoSlideMobile.png" class="slideUmMobile" alt="Imagem 1">
                      <img src="/images/segundoSlide.png"class="slideUm " alt="Imagem 1">
                    </div>
                    <div class="carousel-slide">
                      <img src="/images/slideTresMobile.png" class="slideUmMobile" alt="Imagem 1">
                      <img src="/images/slideTres.png"class="slideUm " alt="Imagem 1">
                    </div>
                </div>
                <div class="carousel-controls">
                    <span class="carousel-control"></span>
                    <span class="carousel-control"></span>
                    <span class="carousel-control"></span>
                </div>
            </div>
        </aside>

        <aside>
          
        <form action="/buscar-ongs" method="get">
          <button type="submit">Visite as nossas ongs</button>
        </form>
        </aside>


        <aside class="textoHistoria">
            <div class="textConfigContainer">
                <div class="textConfig">
                  <h1>Nossa  História</h1>
                  <p>
                      Amamos animais e amamos ajudá-los!
                      Então pensamos em como conectar 
                      aqueles que querem ajudar e aqueles 
                      que precisam de ajuda. Assim a ideia 
                      do Pets Patrol nasceu, ajudando 
                      pessoas que como nós, amam animais!
                  </p>
              </div>
            </div>
        </aside>



        <aside class="cardInformativo">
              <div class="cardContainer">
                <div class="cardContent">
                  <div class="infoCard">
                    <div class="tittleCard">
                      <h1>Dia Mundial do Gato</h1>
                    </div>
                    <div class="paragCard">
                      Dia 17 de fevereiro é comemorado o Dia Mundial do Gato. Esta data foi criada não só para celebrar a presença dos gatos em
                      nossas vidas, como
                      também aumentar a 
                      conscientização sobre os 
                      cuidados com eles.
                  </div>
                  <div class="btnCard">
                    <a href="">Saiba Mais !</a>
                  </div>
                  </div>
                </div>  
              </div>
        </aside>



        <aside class="eventosTexto">
                <div class="textConfigContainer">
                  <div class="textConfig">
                    <h1>
                      Eventos por aí
                    </h1>
                    <p>
                      Conheça os eventos das ONGs que estão rolando por ai
                    </p>
                </div>
                </div>
        </aside>

        <aside class="carrosselCards">
            <div class="event-carousel-container">
              <div class="event-card-carousel">
                <div class="event-card-container" id="event-card-container">
                    <div class="event-card">
                        <img src="/images/eventoOngUm.png" alt="Imagem 1">
                        <div class="event-card-info">
                          <p>Ong Nina Brito</p>
                          <h4 class="event-card-title">Praça de Adoção PET na Feira Rural</h4>
                        <div class="event-more-info">
                          <p class="event-card-text">Armazém rural</p>
                          <a href="#" class="event-card-link">Saiba Mais</a>
                        </div>
                        </div>
                    </div>
                    <div class="event-card">
                      <img src="/images/ongImageUm.png" alt="Imagem 1">
                      <div class="event-card-info">
                        <p>Ong Nina Brito</p>
                        <h4 class="event-card-title">Praça de Adoção PET na Feira Rural</h4>
                      <div class="event-more-info">
                        <p class="event-card-text">Armazém rural</p>
                        <a href="#" class="event-card-link">Saiba Mais</a>
                      </div>
                      </div>
                    </div>
                    <div class="event-card">
                      <img src="/images/ongImageUm.png" alt="Imagem 1">
                      <div class="event-card-info">
                        <p>Ong Nina Brito</p>
                        <h4 class="event-card-title">Praça de Adoção PET na Feira Rural</h4>
                      <div class="event-more-info">
                        <p class="event-card-text">Armazém rural</p>
                        <a href="#" class="event-card-link">Saiba Mais</a>
                      </div>
                      </div>
                    </div>  
                    <div class="event-card">
                      <img src="/images/ongImageUm.png" alt="Imagem 1">
                      <div class="event-card-info">
                        <p>Ong Nina Brito</p>
                        <h4 class="event-card-title">Praça de Adoção PET na Feira Rural</h4>
                      <div class="event-more-info">
                        <p class="event-card-text">Armazém rural</p>
                        <a href="#" class="event-card-link">Saiba Mais</a>
                      </div>
                      </div>
                    </div>
                </div>
                <br>
                <div class="event-controlers">
                
                </div>
            </div>
            </div> 
        </aside>



        <aside class="parceriaOngText"> 
              <div class="textConfigContainer">
                <div class="textConfig">
                  <h1>
                    Seja uma ONG parceira
                  </h1>
                  <p>
                    Cadastre-se e tenha um estoque virtual para organizar seus recursos, uma agenda para eventos e visitas e um espaço para recebimento de doações, além de um chat exclusivo para contato.
                  </p>
              </div>
            </div>
        </aside>

  <br>

        <aside class="carrosselOngs">
          <div class="ong-carousel-container">
            <div class="ong-card-carousel">
              <div class="ong-card-container" id="ong-card-container">
                <div class="ong-card">
                  <img src="/images/ongImageUm.png" alt="Imagem 1">
                  <div class="ong-card-info">
                    <h4 class="ong-card-title">Ong animais do Frio <i class="fa-regular fa-heart"></i> </h4>
                    <h4 class="ong-card-title">+300 animais</h4>
                    <div class="ong-more-info">
                      <p class="ong-card-text">Armazém rural</p>                    
                    </div>
                  </div>
                </div>
                <div class="ong-card">
                  <img src="/images/imagemOngTres.png" alt="Imagem 1">
                  <div class="ong-card-info">
                    <h4 class="ong-card-title">Ong animais do Frio <i class="fa-regular fa-heart"></i> </h4>
                    <h4 class="ong-card-title">+300 animais</h4>
                    <div class="ong-more-info">
                      <p class="ong-card-text">Armazém rural</p>                    
                    </div>
                  </div>
                </div>
                <div class="ong-card">
                  <img src="/images/ongImagemDois.png" alt="Imagem 1">
                  <div class="ong-card-info">
                    <div class="ong-card-info">
                      <h4 class="ong-card-title">Ong animais do Frio <i class="fa-regular fa-heart"></i> </h4>
                      <h4 class="ong-card-title">+300 animais</h4>
                      <div class="ong-more-info">
                        <p class="ong-card-text">Armazém rural</p>                    
                      </div>
                    </div>
                </div>
                
              </div>
            </div>
          </div>
              
        </aside>
      
        <aside class="colaboracaoText">
              <div class="textConfigContainer">
                <div class="textConfig">
                  <h1>
                    Nos ajude doando
                  </h1>
                  <p>
                  Doe para ONGs aquilos que elas mais precisam
                  </p>
              </div>
            </div>
        </aside>
        <aside class="possiveisDoacoes">
          <div class="circle-container">
            <div class="circle">
                <div class="circle-inner circle1">
                  <i class="fa-solid fa-lg fa-stethoscope" style="color: #ffffff;"></i>
                </div>
                <span>Medicamento</span>
            </div>
            <div class="circle">
                <div class="circle-inner circle2">
                  <i class="fa-solid fa-lg fa-bone" style="color: #ffffff;"></i>
                </div>
                <span>Alimento</span>
            </div>
            <div class="circle ">
                <div class="circle-inner circle3">
                  <i class="fa-solid fa- fa-dollar-sign" style="color: #ffffff;"></i>
                </div>
                <span>Dinheiro</span>
            </div>
            <div class="circle ">
                <div class="circle-inner circle4">
                  <i class="fa-solid fa-lg fa-soap" style="color: #ffffff;"></i>
                </div>
                <span>Limpeza</span>
            </div>
            <div class="circle">
                <div class="circle-inner circle5">
                  <i class="fa-solid fa-lg fa-pump-soap" style="color: #ffffff;"></i>
                </div>
                <span>Higiene</span>
            </div>
            <div class="circle">
                <div class="circle-inner circle6">
                  <i class="fa-brands fa-lg fa-redhat" style="color: #ffffff;"></i>
                </div>
                <span>Acessório</span>
            </div>
            <div class="circle">
                <div class="circle-inner circle7">
                  <i class="fa-solid fa-lg fa-futbol" style="color: #ffffff;"></i>
                </div>
                <span>Brinquedo</span>
            </div>
        </div>
        </aside>

        <br>  

        <aside class="parceriaOngText"> 
          <div class="textConfigContainer">
            <div class="textConfig">
              <h1>
                Nos adote
              </h1>
              <p>
                Entre em contato com as ONGs, agende uma visita e adote um parceiro!
              </p>
          </div>
        </div>
    </aside>

        <aside class="carrosselAnimais">
          <div class="animal-carousel-container">
            <div class="animal-card-carousel">
              <div class="animal-card-container" id="animal-card-container">
                <div class="animal-card">
                  <img src="/images/imagemAnimalUm.png" alt="Imagem 1">
                  <div class="animal-card-info">
                    <p>El gato</p>
                    <h4 class="animal-card-title">Feira de Pets</h4>
                    <div class="animal-more-info">
                      <a href="#" class="animal-card-link">Me adote</a>
                    </div>
                  </div>
                </div>
                <div class="animal-card">
                  <img src="/images/imagemAnimalDois.png" alt="Imagem 1">
                  <div class="animal-card-info">
                    <p>Irmãos Bagunça</p>
                    <h4 class="animal-card-title">Ong Amigos dos Animais</h4>
                    <div class="animal-more-info">
                      <a href="#" class="animal-card-link">Me adote</a>
                    </div>
                  </div>
                </div>
                <div class="animal-card">
                  <img src="/images/imagemAnimalTres.png" alt="Imagem 1">
                  <div class="animal-card-info">
                    <p>Churros</p>
                    <h4 class="animal-card-title">Feira de Pets</h4>
                    <div class="animal-more-info">
                      <a href="#" class="animal-card-link">Me adote</a>
                    </div>
                  </div>
                </div>
                <div class="animal-card">
                  <img src="/images/imagemAnimalQuatro.png" alt="Imagem 1">
                  <div class="animal-card-info">
                    <p>Pipoca</p>
                    <h4 class="animal-card-title">Ong Amigos dos Animais</h4>
                    <div class="animal-more-info">
                      <a href="#" class="animal-card-link">Me adote</a>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="animal-controlers">
                
              </div>
            </div>
          </div>
          
        </aside>

        </main>

        <br> <br> 
        <footer>

        </footer>

        <script>
          document.addEventListener('DOMContentLoaded', function () {
              const searchForm = document.getElementById('searchForm');
              const searchInput = document.getElementById('searchInput');
              const searchResults = document.getElementById('searchResults');

              searchForm.addEventListener('submit', function (e) {
                  e.preventDefault();
                  const searchTerm = searchInput.value;

                  // Fazer uma solicitação para a rota de pesquisa no servidor Node.js
                  fetch(`http://localhost:3000/searchOngs?q=${searchTerm}`)
                      .then(response => response.json())
                      .then(data => {
                          // Limpar resultados anteriores
                          searchResults.innerHTML = '';

                          // Exibir resultados
                          data.forEach(ong => {
                            const ongResult = document.createElement('a'); // Alterado para criar um elemento <a>
                            ongResult.textContent = ong.nomeOng;
                            ongResult.href = `/ong/${ong.nomeOng}`; // Adicionando o atributo href para direcionar para a página da ONG
                            searchResults.appendChild(ongResult);
                          });
                      })
                      .catch(error => {
                          console.error(error);
                      });
              });
          });
      </script>
    </body>
  </html>