<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/resultadoBusca.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Pets Patrol: Nossas Ongs</title>
</head>
<body>
    <div class="principal">
        <main>
            <h1>Resultados da Pesquisa</h1>
            <ul>
                <% ongs.forEach(ong => { %>
                <li>
                    <a href="/visualizar-ong/<%= ong._id %>"><%= ong.nomeOng %> <i class="fa-solid fa-link" style="color: #000000;"></i> </a>
                    <!-- Adicione mais informações da Ong que deseja exibir -->
                </li>
                <% }); %>
            </ul>
        
        </main>
    </div>
</body>
</html>