* {
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(200, 197, 197);
}
::-webkit-scrollbar-thumb {
  background-color: #c66969
}
::selection {
  background-color: #c66969;
  color: white;
}
.hidden {
  display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Prompt', sans-serif;
}
